
.grid{
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr auto;
    gap: 5px
    height 90vh
}

header, footer{
  grid-column: 1/4;
  text-align: center;
}

header, article, aside, footer{
    border-style: solid;
    background: #055337;
    font-size: 1.5em;
    color: #f2f2f2;

}

.list {
    font-family: "cursive", "Lucida Handwriting";


}

.mainpic{
  width: 70%;
  height: auto;
  align-self: center;  

}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #055337;
    color: white;
  }